node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.sw?

# Android/iOS build artifacts
android/
ios/

# EAS
eas.json

# Firebase
.firebase/
